
@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="text-center m-3">
    <h2>Accueil</h2>
    <div class="text-center m-3">
        <p>bonjour @Session["NomComplet"] !</p>
    </div>

</div>

